i {
    color: #ff2323;
}

input[type=name],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.footerbtn {

    display: block;
    line-height: 15px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;

    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px;
    background: #34af23;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    width: 95%;
    margin-left: 10px;
    margin-right: 30px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .3);
    animation: footer infinite linear 1s;
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
    position: fixed;

}

.footerbtn :active {
    box-shadow: none
}

@-webkit-keyframes footer {
    from {
        -webkit-transform: rotateZ(0)
    }

    25% {
        -webkit-transform: rotateZ(1.5deg)
    }

    50% {
        -webkit-transform: rotateZ(0deg)
    }

    75% {
        -webkit-transform: rotateZ(-1.5deg)
    }

    to {
        -webkit-transform: rotateZ(0)
    }
}

@-webkit-keyframes jello {

    from,
    11.1%,
    to {
        transform: none;
    }

    22.2% {
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.jello {
    -webkit-animation: jello 3s infinite;
    transform-origin: center;
    -webkit-animation-delay: 6s
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.m1 {
    position: fixed;
    left: 1%;
    width: auto;
    height: 100%;
    top: 1%;
    color: #000;
}

.m2 {
    position: fixed;
    right: 1%;
    width: auto;
    height: 100%;
    top: 1%;
    color: #000;
}

.bubbles {
    font-family: arial;
}

.bubbles hi {
    font-family: 'Luckiest Guy', cursive;
    color: black;
}

hi {
    font-size: 2.5em;
    user-select: none;
}

hi span {
    display: inline-block;
    animation: float .2s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: none;
    }

    33% {
        transform: translateY(-1px) rotate(-2deg);
    }

    66% {
        transform: translateY(1px) rotate(2deg);
    }
}

body:hover span {
    animation: bounce .6s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translate(0);
    }

    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }

    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

@import url(http://fonts.googleapis.com/css?family=Concert+One);

h1 {
    animation: glow 10s ease-in-out infinite;
}



* {
    box-sizing: border-box;
}

figure {
    animation: wobble 5s ease-in-out infinite;
    transform-origin: center center;
    transform-style: preserve-3d;
}

@keyframes wobble {

    0%,
    100% {
        transform: rotate3d(1, 1, 0, 40deg);
    }

    25% {
        transform: rotate3d(-1, 1, 0, 40deg);
    }

    50% {
        transform: rotate3d(-1, -1, 0, 40deg);
    }

    75% {
        transform: rotate3d(1, -1, 0, 40deg);
    }
}

h1 {
    display: block;
    width: 90%;
    line-height: 1.5;
    font: 900 35px 'Concert One', sans-serif;
    position: absolute;
    color: #fff;
}

@keyframes glow {

    0%,
    100% {
        text-shadow: 0 0 30px red;
    }

    25% {
        text-shadow: 0 0 30px orange;
    }

    50% {
        text-shadow: 0 0 30px forestgreen;
    }

    75% {
        text-shadow: 0 0 30px cyan;
    }
}

h1:nth-child(2) {
    transform: translateZ(5px);
}

h1:nth-child(3) {
    transform: translateZ(10px);
}

h1:nth-child(4) {
    transform: translateZ(15px);
}

h1:nth-child(5) {
    transform: translateZ(20px);
}

h1:nth-child(6) {
    transform: translateZ(25px);
}

h1:nth-child(7) {
    transform: translateZ(30s);
    animation: rock 5s linear infinite;

    @keyframes rock {
        0% {
            transform: rotate(-1deg);
        }

        50% {
            transform: rotate(2deg);
        }

        100% {
            transform: rotate(-1deg);
        }
    }
}


h1:nth-child(8) {
    transform: translateZ(35px);
}

h1:nth-child(9) {
    transform: translateZ(40px);
}

h1:nth-child(10) {
    transform: translateZ(45px);
}



.rock {
    animation: infinite 1s rock
}

@keyframes rock {
    0% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}

.fuck {
    animation: infinite 1s fuck
}

@keyframes rock {
    0% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}


h3 {
    font-size: 48px;
    text-align: center;
    padding: 1px;
    margin: 1px;
    color: white;
    text-shadow: 1px 1px silver, -1px -1px blue;
    animation: fuck infinite 1s;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 2px;
}

.cssload-preloader {
    position: absolute;
    top: 0px;
    left: px;
    right: 40px;
    bottom: 20px;
    z-index: 10;
}

.cssload-preloader>.cssload-preloader-box {
    position: absolute;
    height: 16px;
    top: 36%;
    left: 45%;
    margin: -8px 0 0 -82px;
    perspective: 110px;
    -o-perspective: 110px;
    -ms-perspective: 110px;
    -webkit-perspective: 110px;
    -moz-perspective: 110px;
}

.cssload-preloader .cssload-preloader-box>div {
    position: relative;
    width: 16px;
    height: 16px;
    background: rgb(204, 204, 204);
    float: left;
    text-align: center;
    line-height: 16px;
    font-family: Verdana;
    font-size: 11px;
    color: rgb(255, 255, 255);
}

.cssload-preloader .cssload-preloader-box>div:nth-child(1) {
    background: rgb(255, 0, 0);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 0ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 0ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 0ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 0ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 0ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(2) {
    background: rgb(255, 0, 0);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 86.25ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(3) {
    background: rgb(255, 0, 0);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 172.5ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(4) {
    background: rgb(204, 255, 0);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 258.75ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(5) {
    background: rgb(0, 255, 60);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 345ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 345ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 345ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 345ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 345ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(6) {
    background: rgb(0, 185, 252);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 431.25ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(7) {
    background: rgb(58, 0, 250);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 517.5ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(8) {
    background: rgb(255, 255, 0);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 603.75ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 603.75ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(9) {
    background: rgb(221, 0, 255);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 690ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 690ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 690ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 690ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 690ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(10) {
    background: rgb(51, 102, 255);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(11) {
    background: rgb(51, 102, 255);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(12) {
    background: rgb(51, 102, 255);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(13) {
    background: rgb(51, 102, 255);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(14) {
    background: rgb(51, 102, 255);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(15) {
    background: rgb(51, 102, 255);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(16) {
    background: rgb(51, 102, 255);
    margin-right: 8px;
    animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -o-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -ms-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -webkit-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
    -moz-animation: cssload-movement 690ms ease 776.25ms infinite alternate;
}

@keyframes cssload-movement {
    from {
        transform: scale(1.0) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    to {
        transform: scale(1.5) translateY(-14px) rotateX(45deg);
        box-shadow: 0 14px 22px rgba(0, 0, 0, 0.4);
        background: rgb(51, 153, 255);
    }
}

@-o-keyframes cssload-movement {
    from {
        -o-transform: scale(1.0) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    to {
        -o-transform: scale(1.5) translateY(-14px) rotateX(45deg);
        box-shadow: 0 14px 22px rgba(0, 0, 0, 0.4);
        background: rgb(51, 153, 255);
    }
}

@-ms-keyframes cssload-movement {
    from {
        -ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    to {
        -ms-transform: scale(1.5) translateY(-14px) rotateX(45deg);
        box-shadow: 0 14px 22px rgba(0, 0, 0, 0.4);
        background: rgb(51, 153, 255);
    }
}

@-webkit-keyframes cssload-movement {
    from {
        -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    to {
        -webkit-transform: scale(1.5) translateY(-14px) rotateX(45deg);
        box-shadow: 0 14px 22px rgba(0, 0, 0, 0.4);
        background: rgb(51, 153, 255);
    }
}

@-moz-keyframes cssload-movement {
    from {
        -moz-transform: scale(1.0) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    to {
        -moz-transform: scale(1.5) translateY(-14px) rotateX(45deg);
        box-shadow: 0 14px 22px rgba(0, 0, 0, 0.4);
        background: rgb(51, 153, 255);
    }
}

@keyframes marquee {
    0% {
        transform: translatey(100%);
    }

    100% {
        transform: translatey(-100%);
    }
}

.marquee {
    animation: marquee 10s linear infinite;
}

.mix-blend-darken {
    mix-blend-mode: darken;
}